*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
/* navbar css start*/
.bannar{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)),url(../img/Hero-img.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.container{
    width: 1140px;
    margin: auto;
}

.logo h2{
    color: #f5f5f5;
    font-size: 32px;
    font-family: 'Roboto Slab', serif;
    
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    height: 10vh;
    align-items: center;
}

.menu-bar{
    display: flex;
}
.menu-bar ul li{
    list-style: none;
}
.menu li{
    display: inline-block;
    padding: 0px 24px;
}
.menu li a{ 
    color: #f5f5f5;
    font-size: 16px;
    font-family: 'Roboto Slab', serif;
    font-weight: 500;
    
}
.menu li a:hover{
    color: #ffc400;
}
.social-icon li{
    display: inline-block;
    padding: 0px 6px;
    
}
.social-icon li a{
    color: #ffc400; 
}  
 /* navbar css end */
 /* bannar-text css start */
 .text{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    text-align: center;
}
.text h1{
    color: #f5f5f5;
    font-size: 80px;
    padding-bottom: 30px;
    font-family: 'Dancing Script', cursive;
}
.btn-1, .btn-2{
    width: 230px;
    height: 60px;
    margin: 0px 20px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    border: solid #cfcfcf 1px;
    background-color: transparent;
}
    .text button a{
        color: #f5f5f5;
    }
    
    .btn-1:hover{
        border: none;
        background-color: #ffc40086;
    }
    
    .btn-2:hover{
        border: none;
        background-color:#ffc40086; 
    }
    /* bannar-text css end */
    
 /* bannar-2 css start */
 .bannar-2{
     background-color: rgb(41, 41, 41);
    }
    .bannar-area2{
        height: 700px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .text-2{
        text-align: center;
    }
    .text-2 h2{
        padding-bottom: 20px;
        font-size: 40px;
        ffont-family: 'Roboto Slab', serif;
        color: #ffc400;
    }
    .text-2 p{
        font-size: 16px;
        font-family: 'Roboto', sans-serif;
        color: #cfcfcf;
    }
/* bannar-2 css End */

/* bannar-3 css start */

.bannar-3{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)),url(../img/bannar-03.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.bannar-area3{
    height: 800px;
    display: flex;
    justify-content: end;
    align-items: center;
}
.text-3{
    color: #cfcfcf;
    width: 600px;
    height: 600px;
    background-color: rgba(0, 0, 0,0.6);
    text-align: center;
    display: flex;
    align-items: center;
    padding: 0px 40px;
}
.text-3 h2{
    font-size: 40px;
    padding-bottom: 20px;
    font-family: 'Roboto Slab', serif;
    color: #ffc400;
    
}
.text-3 p{
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.text-3 img{
    width: 100px;
    border-radius: 50%;
    border: solid #6666666e 4px ;
    margin: 20px 10px;
}

/* bannar-3 css end */
/* bannar-4 css start */
.bannar-4{
    background-color: rgb(202, 224, 0);
}
.bannar-area4{
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bannar-img4 img{
    width: 100%;
}
.text-4{
    text-align: center;
    padding: 0px 30px;
}
.text-4 h2{
    font-family: 'Roboto Slab', serif;
    font-size: 40px;
    color: #000000;
    padding-bottom: 30px;
}
.text-4 p{
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    color: #414141;
    padding-bottom: 30px;
}
/* bannar-4 css end */
/* gest review css start */
.guest-review{
    width: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.2)),url(../img/Bananr-01.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.guest-review-area{
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.text-5{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    height: 500px;
    background-color: #00000085;
    color: #fff;
    padding: 0px 30px;
}
.text-5 h2{
    font-size: 60px;
    padding-bottom: 20px;
}
.text-5 p{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.text-5 q{
    font-size: 50px;
}

/* gest review css end */
/* party book css start */
.party-book{
    background-color:rgb(41, 41, 41);
}
.party-book-area{
    height: 600px;
    display: flex;
    align-items: center;
}
.party-img{
    width: 50%;
    display: flex;
    justify-content: center;
}
.party-img img{
    width: 220px;
    margin: 0px 20px;
}
.party-book-info{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 30px;
}
.party-book-info h3{
    font-size: 40px;
    padding-bottom: 20px;
    color: #ffc400;
}
.party-book-info p{
    padding-bottom: 16px;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    color: #cfcfcf;
}
.input p{
    display: inline-block;
}
.input p input{
    width: 200px;
    height: 40px;
    padding: 0px 20px;
    background-color:#ffc400;
    border: none;
    margin: 0px 10px;
}
.party-book-info button{
    width: 150px;
    height: 40px;
    background-color: #ffc400;
    border: none;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}
/* party book css end */

.fouter {
    width: 100%;
    height: 300px;
    background-color: #f5f5f5;
}
.fouter-area{
    padding-top: 70px;
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    font-family: 'Roboto', sans-serif;
    
}
.about, .opening , .location {
    width: 33.33%;
    text-align: center;
    padding: 0px 20px;
}
.fouter-area h3{
    font-size: 32px;
    padding-bottom: 20px;
}
.fouter-area p{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 30px;
}

/* 
font-family: 'Dancing Script', cursive;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Slab', serif;
*/